{#
 # Shipping Calculator
 #
 # @package Rider404
 #}
{% do action( 'woocommerce_before_shipping_calculator' ) %}

<form class="woocommerce-shipping-calculator" action="{{ cart_url | e( 'esc_url' ) }}" method="post">

	{{ '<a href="#" class="shipping-calculator-button">%s</a>' | format( button_text is not empty ? button_text : __( 'Calculate shipping', 'rider404' ) | e( 'esc_html' ) ) }}

	<section class="shipping-calculator-form" style="display:none;">

		{% if true | apply_filters( 'woocommerce_shipping_calculator_enable_country' ) %}
			<p class="form-row form-row-wide" id="calc_shipping_country_field">
				<select name="calc_shipping_country" id="calc_shipping_country" class="country_to_state country_select" rel="calc_shipping_state">

					<option value="default">
						{{- __( 'Select a country / region&hellip;', 'rider404' ) | e( 'esc_html' ) -}}
					</option>


					{% for key, value in countries.get_shipping_countries() %}
						<option value="{{ key | e  }}" {{ function( 'selected', customer.get_shipping_country(), key | e, false ) }}>
							{{- value | e( 'esc_html' ) -}}
						</option>
					{% endfor %}

				</select>
			</p>
		{% endif %}

		{% if true | apply_filters( 'woocommerce_shipping_calculator_enable_state' ) %}
			<p class="form-row form-row-wide" id="calc_shipping_state_field">

				{% if countries.get_states( customer.get_shipping_country() ) is iterable and countries.get_states( customer.get_shipping_country() ) is empty %}
					<input type="hidden" name="calc_shipping_state" id="calc_shipping_state" placeholder="{{ __( 'State / County', 'rider404' ) | e }}" />
				{% elseif countries.get_states( customer.get_shipping_country() ) is iterable %}
					<span>
						<select name="calc_shipping_state" class="state_select" id="calc_shipping_state" data-placeholder="{{ __( 'State / County', 'rider404' ) | e }}">
							<option value="">
								{{- __( 'Select an option&hellip;', 'rider404' ) | e( 'esc_html' ) -}}
							</option>

							{% for ckey, cvalue in countries.get_states( customer.get_shipping_country() ) %}
								<option value="{{ ckey | e }}" {{ function( 'selected', customer.get_shipping_state(), ckey, false ) }}>
									{{- cvalue | e( 'esc_html' ) }}
								</option>
							{% endfor %}
						</select>
					</span>
				{% else %}
					<input type="text" class="input-text" value="{{ customer.get_shipping_state() | e }}" placeholder="{{ __( 'State / County', 'rider404' ) | e }}" name="calc_shipping_state" id="calc_shipping_state" />
				{% endif %}
			</p>
		{% endif %}

		{% if true | apply_filters( 'woocommerce_shipping_calculator_enable_city', true ) %}
			<p class="form-row form-row-wide" id="calc_shipping_city_field">
				<input type="text" class="input-text" value="{{ customer.get_shipping_city() | e }}" placeholder="{{ __( 'City', 'rider404' ) | e }}" name="calc_shipping_city" id="calc_shipping_city" />
			</p>
		{% endif %}

		{% if true | apply_filters( 'woocommerce_shipping_calculator_enable_postcode' ) %}
			<p class="form-row form-row-wide" id="calc_shipping_postcode_field">
				<input type="text" class="input-text" value="{{ customer.get_shipping_postcode() | e }}" placeholder="{{ __( 'Postcode / ZIP', 'rider404' ) | e }}" name="calc_shipping_postcode" id="calc_shipping_postcode" />
			</p>
		{% endif %}

		<p>
			<button type="submit" name="calc_shipping" value="1" class="button">
				{{- __( 'Update', 'rider404' ) | e( 'esc_html' ) -}}
			</button>
		</p>

		{{ nonce_field }}
	</section>
</form>

{% do action( 'woocommerce_after_shipping_calculator' ) %}
