{#
 # Socials
 #
 # @package WordPress
 # @subpackage Rider404
 #}

{% if socials is iterable %}
	<ul class="Socials{{ classes ? ' ' ~ classes | join( ' ' ) }}" data-scroll>
		{% for social in socials %}
			{% if social.url %}
				<li class="Socials__item">
					<a
						class="Socials__link"
						href="{{ social.url }}"
						target="_blank"
						title="{{ social.title }}"
						aria-label="{{ social.title }}"
						rel="noopener noreferrer"
					>
						{{ include( 'svg/use.html.twig', { icon: social.slug, attributes: { style: "transition-delay: #{ loop.index * 0.1 + 0.3 }s;" } }, with_context = false ) }}
						<span style="transition-delay: {{ loop.index * 0.1 + 0.3 }}s;"></span>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}
