{#
 # Split text
 #
 # @param string $delay Delay in seconds.
 #
 # @package Rider404
 #}
<div
    id="split-text-{{ id }}"
    class="Split-text{{ classes ? ' ' ~ classes | join( ' ' ) }}"
    data-scroll
    data-scroll-call="split-text-{{ id }}"
    data-module-split-text
    data-delay="{{ delay | default( '0' )}}"
>
    {{- title -}}
</div>
