{#
 # Content widget product
 #
 # @package WordPress
 # @subpackage Rider404
 #}
<li {{ function( 'wc_product_class', 'Loop-product position-relative js-item swiper-slide' ) }}>

	{% do action( 'woocommerce_widget_product_item_start', template_args ) %}

    {{- include( 'partials/featured.html.twig', { product: product }, with_context = false ) -}}
	{{- include( 'woocommerce/loop/loop-product-link-start.html.twig', { link: product.get_permalink() }, with_context = false ) -}}

	{{- include( 'woocommerce/loop/loop-product-thumbnail.html.twig', { product: product }, with_context = false ) -}}
	{{- include( 'woocommerce/loop/loop-product-title.html.twig', { title: product.get_name() | e( 'wp_kses_post' ) }, with_context = false ) -}}

	{{- include( 'woocommerce/loop/loop-product-link-end.html.twig' ) -}}

	{% if show_rating %}
		{{- function( 'wc_get_rating_html', product.get_average_rating() ) -}}
	{% endif %}

    {% include 'woocommerce/loop/price.html.twig' with { product: product, price_html: product.get_price_html() } only %}

	{% do action( 'woocommerce_widget_product_item_end', template_args ) %}
</li>
