{#
 # Menu
 #
 # @package Error404
 #}
<div id="menu" class="Menu page-block{{ classes is defined ? ' ' ~ classes | join(' ') }}" data-node-type="MenuBlock" data-scroll data-scroll-sticky data-scroll-target="#primary">
	<div class="row h-100 d-flex align-items-center">
		<div class="col-6 offset-3">
			<ul class="Menu__items" itemscope itemtype="http://schema.org/SiteNavigationElement">
				{% for item in menu.get_items() %}
					<li class="Menu__item js-item">

						<a href="{{ item.url }}" {{ item.is_external() or item.is_target_blank() ? 'target="_blank"' }} itemprop="url" class="Menu__link{{ item.current ? ' is-active' }}">
							{% include 'svg/use.html.twig' with { icon: 'oval-large' } only %}
							{{- item.title -}}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<footer class="Menu__footer">
		<div class="row">
			<div class="col-10 offset-1 col-md-2 offset-md-5">
				<a href="{{ terms_url }}">{{- __( 'Terms & legal', 'rider404' ) -}}</a>
			</div>
		</div>
	</footer>

	<div id="video-menu" class="Video page-block" data-node-type="VideoBlock">
		<canvas></canvas>
		<video autoplay loop preload="auto" muted>
			<source src="{{ Image( nav_menus.main.meta('video') ).src }}" type="video/mp4">
		</video>
	</div>

	
</div>
