{#
 # Navigation
 #
 # @package Error404
 #}
<div
	id="navigation"
	class="Navigation page-block{{ classes is defined ? ' ' ~ classes | join(' ') }}"
	data-node-type="NavigationBlock"
>
	<div class="row h-100 d-flex align-items-center">
		<div class="col-6 offset-3">
			<ul class="Navigation__items" itemscope itemtype="http://schema.org/SiteNavigationElement">
				{% for item in menu.get_items() %}
					<li class="Navigation__item js-item">

						<a
							id="oval-{{ item.id }}"
							class="Navigation__link page-block{{ item.current ? ' is-active' }}"
							href="{{ item.url }}"
							itemprop="url"
							data-node-type="OvalBlock"
							data-lottie-json="oval"
							data-lottie-preserveaspectratio="none"
							data-lottie-active="{{ item.current ? 'true' : 'false' }}"
							{{ item.is_external() or item.is_target_blank() ? 'target="_blank"' }}
						>
							{{- item.title -}}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<footer class="Navigation__footer js-footer">
		<div class="row">
			<div class="col-10 offset-1 col-md-2 offset-md-5">
				<a href="{{ terms_url | e( 'esc_url' ) }}">{{- __( 'Terms & legal', 'rider404' ) -}}</a>
			</div>
		</div>
	</footer>

	{% include 'components/video.html.twig' with { id: 'video-menu', classes: [ 'js-video' ], video: Image( nav_menus.main.meta('video') ).src } %}

	<div
		id="menu"
		class="Navigation__background js-background page-block"
		data-node-type="MenuBlock"
		data-lottie-json="menu"
		data-lottie-autoplay="false"
		data-lottie-loop="false"
		data-lottie-preserveaspectratio="xMaxYMax slice"
	></div>

</div>
