{#
 # Navigation
 #
 # @package WordPress
 # @subpackage Rider404
 #}
<div
	id="navigation"
	class="Navigation{{ classes is defined ? ' ' ~ classes | join(' ') }}"
	data-module-navigation
>
	<div class="row h-100 d-flex align-items-center">
		<div class="col-6 offset-3">
			<ul class="Navigation__items" itemscope itemtype="http://schema.org/SiteNavigationElement">
				{% for item in menu.get_items() %}
					<li class="Navigation__item js-item">

						<{{ item.current ? 'div' : "a href=\"#{ item.url }\"" }}
							id="oval-{{ item.id }}"
							class="Navigation__link{{ item.current ? ' is-active' : '' }}"
							itemprop="url"
							{{ item.current ? '' : 'data-module-oval' }}
							{{ item.current ? '' : 'data-lottie-json="oval"' }}
							{{ item.current ? '' : 'data-lottie-preserveaspectratio="none"' }}
							{{ item.current ? '' : 'data-lottie-active="false"' }}
							{{ item.is_external() or item.is_target_blank() ? 'target="_blank"' }}
						>
							{{- item.title -}}
						</{{ item.current ? 'div' : 'a' }}>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<footer class="Navigation__footer js-footer">
		<div class="row">
			<div class="col-10 offset-1 col-md-2 offset-md-5">
				<a href="{{ terms_url | e( 'esc_url' ) }}">
					{{- __( 'Terms & legal', 'rider404' ) -}}
				</a>
			</div>
		</div>
	</footer>

	{{
		include(
			'components/video.html.twig',
			{ id: 'video-menu', classes: [ 'js-video' ], video: get_image( nav_menus.main.meta('video') ).src }
		)
	}}

	<div
		id="menu"
		class="Navigation__background js-background"
		data-module-menu
		data-lottie-json="menu"
		data-lottie-autoplay="false"
		data-lottie-loop="false"
		data-lottie-preserveaspectratio="xMaxYMax slice"
	></div>

</div>
