{#
 # Header
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 # @package Rider404
 #}
<header class="Site-header">

    <div class="row">
        <div class="col-3 col-md-2">
            <a id="logo" class="Site-header__smiley " href="{{ site.link }}" >
                <div id="logo" class="page-block" data-node-type="LogoBlock" data-lottie-json="logo" data-lottie-autoplay="true"></div>
            </a>
        </div>

        <div class="d-none d-md-flex col-2 offset-3 align-items-center justify-content-center">
            {% if is_product %}
                <a class="font-family-title font-weight-extrablack text-transform-uppercase Pointer-events-auto" href="{{ shop_url }}">{{- __( 'Return', 'rider404' ) -}}</a>
            {% elseif is_shop %}
                <p class="font-family-title font-weight-extrablack text-transform-uppercase margin-0">{{- __( 'Shop', 'rider404' ) -}}</p>
            {% elseif is_product_category %}
                <p class="font-family-title font-weight-extrablack text-transform-uppercase margin-0">{{- product_cat_current.name -}}</p>
            {% elseif is_front_page %}
                <div 
                    id="love-two-ride-four-love" 
                    class="Site-header__love-two-ride-four-love page-block" 
                    data-node-type="LoveTwoRideFourLoveBlock" 
                    data-lottie-json="love-two-ride-four-love"
                ></div>
            {% else %}
                <p class="Page__title"><span>{{- post.title -}}</span></p>
            {% endif %}
        </div>

        <div class="col-3 offset-5 col-md-2 offset-md-3 d-flex align-items-center justify-content-end">

            <{{ ( cart.is_empty ? 'p' : "a href=\"#{cart_url}\"" ) | raw }} class="Site-header__mini-cart Mini-cart js-total">
                {% include 'partials/cart-contents-count.html.twig' with { count: cart.get_cart_contents_count() } only %}
                {% include 'svg/use.html.twig' with { icon: 'cart' } only %}
            </{{ ( cart.is_empty ? 'p' : 'a' ) | raw }}>
            
            <button class="Site-header__bars Bars js-menu-button" type="button">
                {% include 'svg/use.html.twig' with { icon: 'bars' } only %}
            </button>

        </div>
    </div>
</header>