{#
 # Header
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 # @package WordPress
 # @subpackage Rider404
 #}
<header class="Site-header">

    <div class="row">
        <div class="col-3 col-md-2">
            <a id="logo" class="Site-header__smiley " href="{{ site.link }}" >
                <div id="logo" data-module-logo data-logo="button" data-lottie-json="logo" data-lottie-autoplay="true" data-lottie-loop="true"></div>
            </a>
        </div>

        <div class="d-none d-md-flex col-2 offset-3 align-items-center justify-content-center">
            {% if is_product or is_cart or is_checkout %}
                <a class="Site-header__title Page__title font-family-title font-weight-extrablack text-transform-uppercase Pointer-events-auto" href="{{ shop_url }}">
                    <span>{{- __( 'Back to shop', 'rider404' ) -}}</span>
                </a>
            {% elseif is_shop %}
                <p class="Site-header__title Page__title font-family-title font-weight-extrablack text-transform-uppercase margin-0">
                    <span>{{- __( 'Shop', 'rider404' ) -}}</span>
                </p>
            {% elseif is_product_category %}
                <p class="Site-header__title Page__title font-family-title font-weight-extrablack text-transform-uppercase margin-0">
                    <span>{{- product_cat_current.name -}}</span>
                </p>
            {% elseif is_front_page %}
                <div
                    class="Site-header__title Site-header__love-two-ride-four-love"
                    id="love-two-ride-four-love"
                    data-module-love-two-ride-four-love
                    data-lottie-json="love-two-ride-four-love"
					data-lottie-autoplay="false"
					data-lottie-delay="1200"

                ></div>
            {% else %}
                <p class="Site-header__title Page__title"><span>{{- post.title -}}</span></p>
            {% endif %}
        </div>

        <div class="col-3 offset-5 col-md-2 offset-md-3 d-flex align-items-center justify-content-end">

            <{{ ( cart.is_empty ? 'div' : "a href=\"#{cart_url}\"" ) | raw }} class="Site-header__mini-cart Mini-cart js-total">
                {% include 'partials/cart-contents-count.html.twig' with { count: cart.get_cart_contents_count() } only %}
                {# {% include 'svg/use.html.twig' with { icon: 'cart' } only %} #}
				<div id="mini-cart" class="Mini-cart__icon" data-module-mini-cart data-mini-cart="button" data-lottie-json="cart" data-lottie-autoplay="false" data-lottie-loop="false"></div>
            </{{ ( cart.is_empty ? 'div' : 'a' ) | raw }}>

            <button
				id="bars"
				class="Site-header__bars Bars js-menu-button"
				type="button"
				data-module-bars
				data-bars="button"
				data-lottie-json="bars"
				data-lottie-autoplay="false"
				data-lottie-loop="false"
			></button>

        </div>
    </div>
</header>
