{#
 # Index
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 # @file views/index.html.twig
 # @package Rider404
 #}

<!DOCTYPE html>
<!--[if IE 9]>
<html {{ html_class( 'ie9 no-js no-touch' ) }} {{ site.language_attributes }}>
<![endif]-->
<!--[if !(IE 9)]><!-->
	<html {{ site.language_attributes }} {{ html_class( 'no-js no-touch is-loading is-ontop' ) }}> <!--<![endif]-->

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">

		{{ wp_head }}

		{# {% include 'components/gtag.html.twig' with { id: 'UA-153672608-1' } %} #}

	</head>

	<body class="{{ body_class }}{{ post.body_classes ? ( ' ' ~ post.body_classes | join( ' ' ) ) }}">
		<div id="svg-sprite" class="d-none">{% include 'icons.svg' %}</div>

		{% do action( 'woocommerce_before_main_content' ) %}

		<div id="splashscreen" class="Splash-screen">
			<div></div>
			<div></div>
		</div>

		{% if is_front_page %}
			<div class="Cursor js-cursor">
				{% include 'svg/use.html.twig' with { icon: 'chevron-right' } only %}
				{% include 'svg/use.html.twig' with { icon: 'chevron-left' } only %}
			</div>
		{% endif %}

		<div
			id="{{ post.id ? "page-#{post.id}" : 'page' }}"
			class="Site-content page-content position-relative"
			data-node-type="{{ post.node_type | default( 'DefaultPage' ) }}"
			data-scroll-container
		>

			{% if is_front_page %}
				<div class="Arrow d-none d-md-block is-active" data-scroll-section>
					<div
						id="arrow"
						class="page-block"
						data-scroll
						data-scroll-repeat
						data-scroll-call="arrow"
						data-scroll-position="bottom"
						data-node-type="ArrowBlock"
						data-lottie-json="arrow"
					></div>
				</div>
			{% endif %}

			<div class="Coordinates" data-scroll-section>
				{% for i in 0..9 %}
					<span
						id="coordinate-{{ i }}"
						class="page-block"
						data-number="{{ random( 1, 100000 ) }}"
						data-scroll
						data-scroll-repeat
						data-scroll-speed="{{ random( 1, 9 ) }}"
						data-scroll-call="coordinate-{{ i }}"
						style="top: {{ i + random( 0, 100 ) }}%; left: {{ i + random( 0, 100 ) }}%;"
						data-node-type="CoordinateBlock"
					>0</span>
				{% endfor %}
			</div>


			{% include 'header.html.twig' %}

			{% include 'components/menu.html.twig' with { menu: nav_menus.main } %}


			{% block hero %}{% endblock %}

			{% block content %}
				<div class="row" data-scroll-section>
					<div class="col-10 offset-1 col-md-8 offset-md-2">
						<div class="Wysiwyg">{{- post.content -}}</div>
					</div>
				</div>
			{% endblock %}

			{% include 'footer.html.twig' %}

		</div>


		{% do action( 'woocommerce_after_main_content' ) %}

		{{ wp_footer }}

	</body>
</html>
