{#
 # Index
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 # @file views/index.html.twig
 # @package Rider404
 #}

<!DOCTYPE html>
<!--[if IE 9]>
<html {{ html_class( 'ie9 no-js no-touch' ) }} {{ site.language_attributes }}>
<![endif]-->
<!--[if !(IE 9)]><!-->
	<html {{ site.language_attributes }} {{ html_class( 'no-js no-touch' ) }}> <!--<![endif]-->

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">

		{{ wp_head }}

		{# {% include 'components/gtag.html.twig' with { id: 'UA-153672608-1' } %} #}

	</head>

	<body class="{{ body_class }}{{ post.body_classes ? ( ' ' ~ post.body_classes | join( ' ' ) ) }}">
		<div id="svg-sprite" class="d-none">{% include 'icons.svg' %}</div>

		{% do action( 'woocommerce_before_main_content' ) %}
		

		<div
			id="{{ post.id ? "page-#{post.id}" : 'page' }}"
			class="Site-content page-content"
			data-node-type="{{ post.node_type | default( 'DefaultPage' ) }}"
			data-scroll-container
		>
			{% include 'header.html.twig' %}
			
			{% block hero %}{% endblock %}

			{% block content %}

				<div class="row" data-scroll-section>
					<div class="col-8 offset-2">
						<div class="Wysiwyg">{{- post.content -}}</div>
					</div>
				</div>
				
			{% endblock %}

			{% include 'footer.html.twig' %}


		</div>
		
		{% do action( 'woocommerce_after_main_content' ) %}

		{{ wp_footer }}

	</body>
</html>
