{#
 # Quick variable
 #
 # @package WordPress
 # @subpackage Rider404
 #}

{% do action( 'rider404_before_quick_add_to_cart_form' ) %}

{% embed 'partials/bar.html.twig' %}
	{% block content %}
		<form
			class="Quick-cart variations_form"
			action="{{ form_action | e( 'esc_url' ) }}"
			method="post"
			enctype="multipart/form-data"
			data-product_id="{{ function( 'absint', product.get_id() ) }}"
			data-product_variations="{{ variations_attr }}"
		>

			{% do action( 'rider404_before_quick_variations_form' ) %}

			{% if available_variations %}

				{% include 'woocommerce/single-product/price.html.twig' %}

				{% for name, options in attributes %}
					{% set terms = function( 'wc_get_product_terms', product.get_id(), name, { 'fields': 'all' } ) %}

					<div id="product-variations-{{ name | sanitize }}" class="variations" data-module-product-variations>

						{# @see https://github.com/woocommerce/woocommerce/blob/master/includes/wc-template-functions.php#L2988 #}
						{{-
							function( 'wc_dropdown_variation_attribute_options',
								{
									options: options,
									attribute: name,
									product: product,
									class: 'd-none',
									show_option_none: false,
								}
							)
						-}}

						<div role="radiogroup" data-product-variations="radiogroup">
							{% for term in terms %}
								{% if term.slug in options %}
									<div role="radio" aria-checked="false" tabindex="-1">
										<span class="white-space-nowrap">{{- term.name | e( 'esc_html' ) -}}</span>
										<input
											class="d-none"
											type="radio"
											name="attribute_{{ name | sanitize | e }}"
											value="{{ term.slug | e }}"
											{{ ( terms | length ) == 1 ? ' checked' : '' }}
										>
									</div>
								{% endif %}
							{% endfor %}
						</div>

					</div>

				{% endfor %}

				<div class="single_variation_wrap">

					{% do action( 'rider404_before_single_quick_variation' ) %}

					{#
					 # Hook: rider404_single_quick_variation.
					 #
					 # @hooked Rider404\Plugins\WooCommerce\TemplateFunctions::single_variation - 10
					 #}
					{% do action( 'rider404_single_quick_variation' ) %}

					<div class="Variation-add-to-cart">
						{{- include( 'components/button-add-to-cart.html.twig', { product: product } ) -}}
					</div>

					<input type="hidden" name="add-to-cart" value="{{ function( 'absint', product.get_id() ) }}" />
					<input type="hidden" name="product_id" value="{{ function( 'absint', product.get_id() ) }}" />
					<input type="hidden" name="variation_id" class="variation_id" value="0" />

					{% do action( 'rider404_after_single_quick_variation' ) %}

				</div>

			{% else %}
				<p class="stock out-of-stock white-space-nowrap m-0">
					{% apply apply_filters( 'woocommerce_out_of_stock_message' ) %}
						{{- __( 'This product is currently out of stock and unavailable.', 'rider404' ) | e( 'esc_html' ) -}}
					{% endapply %}
				</p>
			{% endif %}

			{% do action( 'rider404_after_quick_variations_form' ) %}

		</form>
	{% endblock %}
{% endembed %}

{% do action( 'rider404_after_quick_add_to_cart_form' ) %}
