{#
 # Simple
 #
 # @package WordPress
 # @subpackage Rider404
 #}

{% if product.is_purchasable() %}

	{% if false == product.is_in_stock() %}
		{{- include( 'svg/use.html.twig', { icon: 'sold-out-cart' } ) -}}
	{% endif %}

	{{- stock_html -}}

    {% if true == product.is_in_stock() %}

        {% do action( 'woocommerce_before_add_to_cart_form' ) %}

        <form class="Simple cart" action="{{ form_action | e( 'esc_url' ) }}" method="post" enctype="multipart/form-data">

            {% do action( 'woocommerce_before_add_to_cart_button' ) %}

            {% do action( 'woocommerce_before_add_to_cart_quantity' ) %}

            {# {{ quantity_input }} #}

            {% do action( 'woocommerce_after_add_to_cart_quantity' ) %}

            {# <button type="submit" name="add-to-cart" value="{{ function( 'absint', product.get_id() ) }}" class="Add-to-cart single_add_to_cart_button button alt">
                <span class="d-none">{{- product.single_add_to_cart_text() | e( 'esc_html' ) -}}</span>
                {{- include('svg/use.html.twig', { icon: 'add-to-cart', classes: [ 'Pointer-events-none' ] }, with_context = false ) -}}
                {{- include('svg/use.html.twig', { icon: 'add-to-cart-danger', classes: [ 'Pointer-events-none' ] }, with_context = false ) -}}
            </button> #}

			{{- include( 'components/add-to-cart/html.twig', { product: product } ) -}}

           {% do action( 'woocommerce_after_add_to_cart_button' ) %}
        </form>

       {% do action( 'woocommerce_after_add_to_cart_form' ) %}

    {% endif %}
{% endif %}
