{#
 # Variable
 #
 # @package Rider404
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% do action( 'woocommerce_before_add_to_cart_form' ) %}


	<form class="Quick-variations-form variations_form cart" action="{{ form_action }}" method="post" enctype="multipart/form-data" data-product_id="{{ product.get_id() }}" data-product_variations="{{ variations_attr }}">
		{% if product.get_available_variations() %}

			{% include 'woocommerce/single-product/price.html.twig' %}

			{% for attribute, options in attributes %}
				{% set radios = fn( 'wc_get_product_terms', product.get_id(), attribute, { 'fields': 'all' } ) %}

				<div id="quick-product-variations-#{ sanitize_title( attribute ) }" class="variations page-block" data-node-type="ProductVariationsBlock">

					{{-
						fn( 'wc_dropdown_variation_attribute_options',
							{
								options: options,
								attribute: attribute,
								product: product,
								class: 'd-none',
								show_option_none: false,
							}
						)
					-}}

					<div role="radiogroup">
						{% for radio in radios %}
							<div role="radio" aria-checked="false" tabindex="-1">
								<span class="white-space-nowrap">{{- radio.name -}}</span>
								<input class="d-none" type="radio" name="attribute_{{ sanitize_title( attribute ) }}" value="{{ radio.slug }}"{{ ( radios | length ) == 1 ? ' checked' : '' }}>
							</div>
						{% endfor %}
					</div>
				</div>
				
			{% endfor %}

			<div class="single_variation_wrap">
				{% include 'woocommerce/single-product/add-to-cart/variation-add-to-cart-button.html.twig' %}
				<div class="Variation woocommerce-variation single_variation d-none"></div>
			</div>

		{% else %}
			<p class="stock out-of-stock">
				{% filter apply_filters( 'woocommerce_out_of_stock_message' ) %}
					{{- __( 'This product is currently out of stock and unavailable.', 'rider404' ) -}}
				{% endfilter %}
			</p>
		{% endif %}
	</form>

<form class="variations_form cart" action="{{ form_action }}" method="post" enctype="multipart/form-data" data-product_id="{{ product.get_id() }}" data-product_variations="{{ variations_attr }}">
	
	{% do action( 'woocommerce_before_variations_form' ) %}

	{% if product.get_available_variations() %}

		{% for attribute, options in attributes %}
		
			{% set radios = fn( 'wc_get_product_terms', product.get_id(), attribute, { 'fields': 'all' } ) %}

			<div id="product-variations-#{ sanitize_title( attribute ) }" class="Product-variations variations page-block" data-node-type="ProductVariationsBlock">

				{{-
					fn( 'wc_dropdown_variation_attribute_options',
						{
							options: options,
							attribute: attribute,
							product: product,
							class: 'd-none',
							show_option_none: false,
						}
					)
				-}}

				<div role="radiogroup">
					{% for radio in radios %}
						<div class="Product-variations__item" role="radio" aria-checked="false" tabindex="-1">
							<span>{{- radio.name -}}</span>
							{% include 'svg/use.html.twig' with { icon: 'oval' } only %}
							<input class="d-none" type="radio" name="attribute_{{ sanitize_title( attribute ) }}" value="{{ radio.slug }}"{{ ( radios | length ) == 1 ? ' checked' : '' }}>
						</div>
					{% endfor %}
				</div>

			</div>

		{% endfor %}

		<div class="single_variation_wrap">
			
			{% do action( 'woocommerce_before_single_variation' ) %}

			{#
			 # Hook: woocommerce_single_variation. Used to output the cart button and placeholder for variation data.
			 #
			 # @hooked woocommerce_single_variation - 10 Empty div for variation data.
			 # @hooked woocommerce_single_variation_add_to_cart_button - 20 Qty and cart button.
			 #}
			{% do action( 'woocommerce_single_variation' ) %}

			{# woocommerce_after_single_variation #}
			{% do action( 'woocommerce_after_single_variation' ) %}
		</div>
		
	{% else %}
		<p class="stock out-of-stock">
			{% filter apply_filters( 'woocommerce_out_of_stock_message' ) %}
				{{- __( 'This product is currently out of stock and unavailable.', 'rider404' ) -}}
			{% endfilter %}
		</p>
	{% endif %}

	{% do action( 'woocommerce_after_variations_form' ) %}

</form>

{% do action( 'woocommerce_after_add_to_cart_form' ) %}
