{#
 # Variable
 #
 # @package WordPress
 # @subpackage Rider404
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% do action( 'woocommerce_before_add_to_cart_form' ) %}


<form
	class="variations_form Cart"
	action="{{ form_action | e( 'esc_url' ) }}"
	method="post"
	enctype="multipart/form-data"
	data-product_id="{{ function( 'absint', product.get_id() ) }}"
	data-product_variations="{{ variations_attr }}"
>

	{% do action( 'woocommerce_before_variations_form' ) %}

	{% if available_variations %}

		{% for name, options in attributes %}
			{% set terms = function( 'wc_get_product_terms', product.get_id(), name, { 'fields': 'all' } ) %}

			<div
				id="product-variations-{{ name | sanitize }}"
				class="Product-variations variations fw-normal my-10"
				data-module-product-variations
			>

				{# @see https://github.com/woocommerce/woocommerce/blob/master/includes/wc-template-functions.php#L2994 #}
				{{-
					function( 'wc_dropdown_variation_attribute_options',
						{
							options: options,
							attribute: name,
							product: product,
							class: 'd-none',
							show_option_none: false,
						}
					)
				-}}

				<div role="radiogroup" data-product-variations="radiogroup" class="d-flex justify-content-center">
					{% for term in terms %}
						{% if term.slug in options %}
							<div class="Product-variations__item position-relative" role="radio" aria-checked="false" tabindex="-1">
								<span>{{- term.name | e( 'esc_html' ) -}}</span>
								{{- include( 'svg/use.html.twig', { icon: 'oval-small' }, with_context = false ) -}}
								<input
									class="d-none"
									type="radio"
									name="attribute_{{ name | sanitize | e }}"
									value="{{ term.slug | e }}"
									{{ ( terms | length ) == 1 ? ' checked' : '' }}
								>
							</div>
						{% endif %}
					{% endfor %}
				</div>

			</div>

		{% endfor %}

		<div class="single_variation_wrap">

			{% do action( 'woocommerce_before_single_variation' ) %}

			{#
			 # Hook: woocommerce_single_variation
			 #
			 # @hooked Rider404\Plugins\WooCommerce::template_single_variation - 10
			 # @hooked woocommerce_single_variation_add_to_cart_button - 20
			 #}
			{% do action( 'woocommerce_single_variation' ) %}

			{#
			 # Hook: woocommerce_after_single_variation
			 #
			 #
			 #}
			{% do action( 'woocommerce_after_single_variation' ) %}
		</div>

	{% else %}
		<p class="Stock stock out-of-stock white-space-nowrap m-0">
			{{- include( 'svg/use.html.twig', { icon: 'sold-out-cart' }, with_context = false ) -}}
			{% apply apply_filters( 'woocommerce_out_of_stock_message' ) %}
				{{- __( 'This product is currently out of stock and unavailable.', 'rider404' ) | e( 'esc_html' ) -}}
			{% endapply %}
		</p>
	{% endif %}

	{% do action( 'woocommerce_after_variations_form' ) %}

</form>

{% do action( 'woocommerce_after_add_to_cart_form' ) %}
