{#
 # Variable
 #
 # @package Rider404
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% do action( 'woocommerce_before_add_to_cart_form' ) %}


<form 
	class="variations_form Cart" 
	action="{{ form_action }}" 
	method="post" 
	enctype="multipart/form-data" 
	data-product_id="{{ product.get_id() }}" 
	data-product_variations="{{ variations_attr }}"
>
	
	{% do action( 'woocommerce_before_variations_form' ) %}

	{% if available_variations %}

		{% for name, options in attributes %}
			{% set terms = fn( 'wc_get_product_terms', product.get_id(), name, { 'fields': 'all' } ) %}

			<div id="product-variations-{{ name | sanitize }}" class="Product-variations variations page-block" data-node-type="ProductVariationsBlock">

				{# @see https://github.com/woocommerce/woocommerce/blob/master/includes/wc-template-functions.php#L2988 #}
				{{-
					fn( 'wc_dropdown_variation_attribute_options',
						{
							options: options,
							attribute: name,
							product: product,
							class: 'd-none',
							show_option_none: false,
						}
					)
				-}}

				<div role="radiogroup">
					{% for term in terms %}
						<div class="Product-variations__item" role="radio" aria-checked="false" tabindex="-1">
							<span>{{- term.name -}}</span>
							{% include 'svg/use.html.twig' with { icon: 'oval-small' } only %}
							<input class="d-none" type="radio" name="attribute_{{ name | sanitize }}" value="{{ term.slug }}"{{ ( terms | length ) == 1 ? ' checked' : '' }}>
						</div>
					{% endfor %}
				</div>

			</div>

		{% endfor %}

		<div class="single_variation_wrap">
			
			{% do action( 'woocommerce_before_single_variation' ) %}

			{#
			 # Hook: woocommerce_single_variation
			 #
			 # @hooked Rider404\Plugins\WooCommerce::template_single_variation - 10 
			 # @hooked woocommerce_single_variation_add_to_cart_button - 20 
			 #}
			{% do action( 'woocommerce_single_variation' ) %}

			{# 
			 # Hook: woocommerce_after_single_variation 
			 #
			 #
			 #}
			{% do action( 'woocommerce_after_single_variation' ) %}
		</div>
		
	{% else %}
		<p class="stock out-of-stock white-space-nowrap margin-0">
			{% filter apply_filters( 'woocommerce_out_of_stock_message' ) %}
				{{- __( 'This product is currently out of stock and unavailable.', 'rider404' ) -}}
			{% endfilter %}
		</p>
	{% endif %}

	{% do action( 'woocommerce_after_variations_form' ) %}

</form>

{% do action( 'woocommerce_after_add_to_cart_form' ) %}
