{#
 # Single variation cart button
 #
 # @package WordPress
 # @subpackage Rider404
 #}

<div id="add-to-cart-{{ product.get_id() }}" class="Variation-add-to-cart woocommerce-variation-add-to-cart variations_button">
    {#
     # Hook: woocommerce_before_add_to_cart_button.
     #}
    {% do action( 'woocommerce_before_add_to_cart_button' ) %}

    {#
     # Hook: woocommerce_before_add_to_cart_quantity.
     #}
    {% do action( 'woocommerce_before_add_to_cart_quantity' ) %}

    {# {{ quantity_input }} #}

    {#
     # Hook: woocommerce_after_add_to_cart_quantity.
     #}
    {% do action( 'woocommerce_after_add_to_cart_quantity' ) %}

	{# single_add_to_cart_button #}
    {# <button type="submit" value="{{ product.get_id() }}" class="Add-to-cart button alt">
        <span class="d-none">{{- product.single_add_to_cart_text() -}}</span>
        {{- include( 'svg/use.html.twig', { icon: 'add-to-cart', classes: [ 'pe-none' ] }, with_context = false ) -}}
        {{- include( 'svg/use.html.twig', { icon: 'add-to-cart-danger', classes: [ 'pe-none' ] }, with_context = false ) -}}
    </button> #}

	<div class="Add-to-cart-hover">
		<div data-module-add-to-cart-hover data-add-to-cart-hover="button" data-lottie-json="add-to-cart-hover" data-lottie-autoplay="false" data-lottie-loop="false"></div>
		{{- include( 'components/button-add-to-cart.html.twig', { product: product } ) -}}
	</div>

	<span class="color-gray-very-dark-02 font-size-12">{{ product.single_add_to_cart_text() | e( 'esc_html' ) }}</span>

    {#
     # Hook: woocommerce_after_add_to_cart_button.
     #}
    {% do action( 'woocommerce_after_add_to_cart_button' ) %}

    <input type="hidden" name="add-to-cart" value="{{ function( 'absint', product.get_id() ) }}" />
    <input type="hidden" name="product_id" value="{{ function( 'absint', product.get_id() ) }}" />
    <input type="hidden" name="variation_id" class="variation_id" value="0" />
</div>
