{# 
 # Loop price
 #
 # @package Rider404
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
{% if price_html %}
	<div class="Loop-price price">
		<span>{{- price_html -}}</span>

		{% if 'simple' == product.get_type() %}
			<a href="{{ site.link }}?add-to-cart={{ product.get_id() }}&quantity=1">
				{% include 'svg/use.html.twig' with { icon: 'plus' } only %}
			</a>
		{% endif %}
		

		{% if 'variable' == product.get_type() %}
			<a href="{{ site.link }}?add-to-cart={{ product.get_available_variations()[0]['variation_id'] }}&quantity=1">
				{% include 'svg/use.html.twig' with { icon: 'plus' } only %}
			</a>
		{% endif %}
	</div>
{% endif %}