{#
 # About page
 #
 # @package Rider404
 #}
{% extends 'index.html.twig' %}

{% block hero %}{% endblock %}

{% block content %}

    <div class="Section About-page__introduction margin-top-0" data-scroll-section>

        <div class="About-page__introduction__body">
            <div class="row">
                <div class="col-10 offset-1 col-md-8 offset-md-2">
                    {%
                        include 'partials/split-text.html.twig'
                        with {
                            title: post.meta( 'introduction' ),
                            id: uniqid(),
                            classes: [ 'h1', 'text-align-center', 'margin-0' ],
                            delay: 0.5,
                        }
                    %}
                </div>
                <div class="col-4 offset-4">
                    <p class="h2 text-align-center">
						{{- __( "That's it the leitmotiv of the Rider.404", 'rider404'  ) -}}
					</p>
                </div>
            </div>
        </div>


        <div class="About-page__introduction__images">
            <div class="row h-100">
                <div class="col-6 d-flex align-items-start" data-scroll data-scroll-speed="1.5">
                    {% embed 'partials/image-reveal.html.twig' with { attributes: { style: 'transition-delay: 1.5s;' } } %}
                        {% block content %}
                            {% include 'partials/image.html.twig' with { image: post.meta( 'images' )[0] } only %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-3 offset-8 d-flex align-items-end" data-scroll data-scroll-speed="1.5">
                     {% embed 'partials/image-reveal.html.twig' %}
                        {% block content %}
                            {% include 'partials/image.html.twig' with { image: post.meta( 'images' )[1] } only %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>

	<div class="About-map" data-scroll-section>
		<div class="line-1"></div>
		<div class="row">
			<div class="col-6">
				<div id="about-map" class="page-block" data-scroll  data-scroll-id="about-map" data-node-type="AboutMapBlock" data-lottie-json="about-map"></div>
			</div>
			<div class="col-4 offset-1">
				Born from a “system error”, Rider.404 exists thanks to the immense solidarity from the passionate mountain biking community. People who support the Rider.404 give him the opportunity to continue to ride for the passion.
			</div>
		</div>
	</div>

    <div id="smiley-404" class="Smiley-404 Section page-block" data-scroll-section data-node-type="Smiley404Block" style="transform-style: preserve-3d;">
        <div class="Smiley-404__images">
            <div class="row h-100">
                <div class="col-3 offset-2 d-flex align-items-start" data-scroll data-scroll-speed="1.5">
                    {% embed 'partials/image-reveal.html.twig' %}
                        {% block content %}
                            {% include 'partials/image.html.twig' with { image: post.meta( 'images' )[2] } only %}
                        {% endblock %}
                    {% endembed %}
                </div>

                <div class="col-2 offset-6 d-flex align-items-end" data-scroll data-scroll-speed="1.5">
                    {% embed 'partials/image-reveal.html.twig' %}
                        {% block content %}
                            {% include 'partials/image.html.twig' with { image: post.meta( 'images' )[3] } only %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
        <canvas id="smiley-404-canvas"  height="900"></canvas>
        <div class="Smiley-404__background">
            <img
				data-scroll
				data-scroll-direction="horizontal"
				data-scroll-target="#smiley-404"
				data-scroll-speed="9"
				src="{{ theme.link }}/{{ theme.manifest['img/svg/rider-404.svg'] }}"
				width="3204.3"
				height="410.6"
			>
        </div>
    </div>

    <div data-scroll-section>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                {% embed 'components/video.html.twig' with { id: 'video-about', video: post.meta( 'video' ).thumbnail.url, overlay: true } %}
                    {% block caption %}
						{% if socials.youtube.url %}
							<div class="Video__caption">
								{{- __( 'All video Rider.404 Project on', 'rider404' ) }}
								&nbsp;
								<a href="{{ socials.youtube.url }}">
									{% include 'svg/use.html.twig' with { icon: 'youtube' } only %}
									&nbsp;&nbsp;<span>YouTube</span>
								</a>
							</div>
						{% endif %}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>

    <div id="faq" class="Section Faq page-block" data-node-type="FaqBlock" data-scroll-section>
        <div class="row">
            <div class="col-4 offset-1">
                <ul class="Faq__questions" data-scroll data-scroll-sticky data-scroll-target="#faq">
                    {% for item in post.meta( 'faq' ) %}
                        <li class="Faq__questions__item{{ loop.first ? ' is-active' : '' }}">
                            <a class="js-answer" href="#{{ item.question | sanitize }}" data-scroll-to>
                                {{- item.question -}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
             <div class="col-4 offset-1">
                <ul class="Faq__answers">
                    {% for item in post.meta( 'faq' ) %}
                        <li id="{{ item.question | sanitize }}" class="Faq__answers__item" data-scroll-repeat data-scroll data-scroll-call="answer">
                            {{- item.answer -}}
                        </li>
                    {% endfor %}
                </ul>
             </div>
        </div>
    </div>

    <div id="tags" class="Tags" data-scroll-section>
        <ul class="Tags__items">
            {% for i in 0..5 %}
                <li class="Tags__item">
                    <span data-scroll data-scroll-direction="horizontal" data-scroll-target="#tags" data-scroll-speed="{{ random( -20, 20 ) }}">
                        <img src="{{ theme.link }}/{{ theme.manifest['img/svg/rider-404.svg'] }}" alt="" width="3204.3" height="410.6">
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>

	{% include 'components/modal.html.twig' with { control: 'video-about', video: post.meta( 'video' ).youtube } %}

{% endblock  %}
