{#
 # Archive product
 #
 #
 #}
{% extends 'index.html.twig' %}

{% block content %}
	
	{% if product_loop %}

		{#
		 # Hook: woocommerce_before_shop_loop.
		 #
		 # @hooked woocommerce_output_all_notices - 10
		 #}
		{% do action( 'woocommerce_before_shop_loop' ) %}

		<div class="Section">
			<div class="row">
				<div class="col-10 offset-1">
					<ul class="Product-categories">
						<li class="Product-categories__item">
							<{{ product_cat_current ? 'a' : 'p' }} class="{{ product_cat_current ? '' : 'is-active' }}"{{ product_cat_current ? " href=\"#{ shop_url }\"" : '' }}>
								<span>{{- __( 'All', 'rider404' ) -}}</span>
								<sup>{{- count_products -}}</sup>
							</{{ product_cat_current ? 'a' : 'p' }}>
						</li>
						{% for product_cat in product_cats %}
							<li class="Product-categories__item">
								<{{ product_cat_current and product_cat_current.id == product_cat.id ? 'p' : 'a' }} class="{{ product_cat_current and product_cat_current.id == product_cat.id ? 'is-active' : '' }}"{{ product_cat_current and product_cat_current.id == product_cat.id ? '' : " href=\"#{ product_cat.link }\"" }}">
									<span>{{- product_cat.name -}}</span>
									<sup>{{- product_cat.count -}}</sup>
								</{{ product_cat_current and product_cat_current.id == product_cat.id ? 'p' : 'a' }}>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		{{- fn( 'woocommerce_product_loop_start', false ) -}}

		{% for product in products %}
			{% do action( 'woocommerce_shop_loop' ) %}

			{% include 'woocommerce/content-product.html.twig' %}
			
		{% endfor %}

		{{- fn( 'woocommerce_product_loop_end', false ) -}}

		{#
		 # Hook: woocommerce_after_shop_loop.
		 #
		 # @hooked woocommerce_pagination - 10
		 #}
		{% do action( 'woocommerce_after_shop_loop' ) %}
	{% else %}
		{#
			# Hook: woocommerce_no_products_found.
			#
			# @hooked wc_no_products_found - 10
			#}
		{% do action( 'woocommerce_no_products_found' ) %}
	{% endif %}

{% endblock  %}
