{#
 # Archive product
 #
 # @package WordPress
 # @subpackage Rider404
 #}
{% extends 'index.html.twig' %}

{% block content %}

	{% embed 'partials/bar.html.twig' %}
		{% block content %}
			<div class="Quick-product-categories">
				{{- include( 'components/product-categories.html.twig' ) -}}
			</div>
		{% endblock %}
	{% endembed %}

	{% if product_loop %}


		<div class="Site-container" data-scroll-section>
			<div class="row">
				<div class="col-12 col-md-10 offset-md-1">
					{#
					 # Hook: woocommerce_before_shop_loop.
					 #
					 # @hooked woocommerce_output_all_notices - 10
					 #}
					{% do action( 'woocommerce_before_shop_loop' ) %}
					{{- include( 'components/product-categories.html.twig' ) -}}
				</div>
			</div>
		</div>


		{{- function( 'woocommerce_product_loop_start' ) -}}

		{% for product in products %}
			{% do action( 'woocommerce_shop_loop' ) %}

			{{ include( 'woocommerce/content-product.html.twig', { product: product } ) }}

		{% endfor %}

		{{- function( 'woocommerce_product_loop_end' ) -}}

		{#
		 # Hook: woocommerce_after_shop_loop.
		 #
		 # @hooked woocommerce_pagination - 10
		 #}
		{% do action( 'woocommerce_after_shop_loop' ) %}
	{% else %}

		<div class="Section" data-scroll-section>
			<div class="row">
				<div class="col-10 offset-1">
					{#
					# Hook: woocommerce_no_products_found.
					#
					# @hooked wc_no_products_found - 10
					#}
					{% do action( 'woocommerce_no_products_found' ) %}
				</div>
			</div>
		</div>
	{% endif %}

{% endblock  %}
