{#
 # Page: front
 #
 # @package Driver404
 #}
{% extends 'index.html.twig' %}

{% block hero %}
    <div class="Hero" data-scroll-section>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div
					id="rider-404"
					class="Rider-404"
					data-scroll
					data-scroll-call="rider-404"
					data-module-rider-404
					data-lottie-json="rider-404"
					data-lottie-autoplay="false"
				></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                {% include 'components/video.html.twig' with { id: 'video-hero', video: post.meta( 'video' ).thumbnail.url, overlay: true } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="Section Push" data-scroll-section>

		<div
			id="star-circle"
			class="Push__star-circle"
			data-scroll
			data-scroll-call="star-circle"
			data-scroll-speed="2"
			data-module-star-circle
			data-lottie-json="star-circle"
			data-lottie-loop="true"
		></div>

        <div class="Push__background" data-scroll data-scroll-speed="4">
            <div class="row h-100">
                <div class="col-8 offset-2 h-100">
                    <img src="{{ theme.link }}/{{ theme.manifest['img/png/push.png'] }}" alt="" height="1523" height="1473">
                </div>
            </div>
        </div>

        <div id="push" class="Push__body" data-module-push>
            {{ sidebar }}
        </div>

        <div class="Push__footer">
            <div class="row">
                <div class="col-10 offset-1">
                    <a class="Link-underline d-inline-block" href="{{ shop_url | e( 'esc_url' ) }}">
                        {% include 'partials/split-text.html.twig' with { id: uniqid(), delay: 0.1, title: __( 'All products', 'rider404' ) } %}
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="Section About" data-scroll-section>

        <ul class="About__stars">
            <li data-scroll data-scroll-speed="{{ random( 1, 9 ) }}">{% include 'svg/use.html.twig' with { icon: 'star' } only %}</li>
            <li data-scroll data-scroll-speed="{{ random( 1, 9 ) }}">{% include 'svg/use.html.twig' with { icon: 'star' } only %}</li>
            <li data-scroll data-scroll-speed="{{ random( 1, 9 ) }}">{% include 'svg/use.html.twig' with { icon: 'star' } only %}</li>
        </ul>

        <div class="About__body">
            <div class="row">
                <div class="col-10 offset-1 col-md-6 offset-md-3">
                    <div class="About__content">
                        {% include 'partials/split-text.html.twig' with { id: uniqid(), title: post.meta( 'about' ).content } %}
                        <img data-scroll data-scroll-speed="2" src="{{ theme.link }}/{{ theme.manifest['img/svg/about.svg'] }}" width="719" height="585">
                    </div>
                </div>
                <div class="col-10 offset-1 text-align-center">
                    <h2 class="About__title">
                        {%- include 'partials/split-text.html.twig' with { id: uniqid(), title: post.meta( 'about' ).title } -%}
                    </h2>
                    <a class="Link-underline d-inline-block" href="{{ post.meta( 'about' ).link.url }}">
                        {% include 'partials/split-text.html.twig' with { id: uniqid(), delay: 0.1, title: post.meta( 'about' ).link.title | default( __( 'About', 'rider404' ) ) } %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="carousel" class="Section Carousel" data-scroll-section data-module-carousel>
        <img class="Carousel__background" src="{{ theme.link }}/{{ theme.manifest['img/png/carousel.png'] }}" alt="" width="1440" height="1153" data-scroll data-scroll-speed="2">
        <div class="row">
            <div class="col-10 offset-1 col-sm-8 offset-sm-2">
                <div class="Carousel__items js-items">
                    {% for image in post.meta( 'carousel' ) %}
                        <div class="Carousel__item js-item">
                            {% embed "partials/image-reveal.html.twig" %}
                                {% block content %}
                                    {% include 'partials/image.html.twig' with { image: image, size: 'medium', loading: 'eager' } only %}
                                {% endblock %}
                            {% endembed %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

     <div class="Section Partners position-relative" data-scroll-section>
	 	<img class="Partners__grid" data-scroll data-scroll-speed="2" src="{{ theme.link }}/{{ theme.manifest['img/svg/grid.svg'] }}" alt="" width="962" height="842">
        <img class="Partners__decor d-none d-md-block" data-scroll data-scroll-speed="2" src="{{ theme.link }}/{{ theme.manifest['img/svg/partners.svg'] }}" alt="" height="134" width="76">
        <div class="row">
            <div class="col-10 offset-1 col-md-3 offset-md-6">
                <h2>
                    {% include 'partials/split-text.html.twig' with { title: __( 'Partners &\nCollaboraters', 'rider404' ) | nl2br, id: uniqid() } %}
                </h2>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-6 col-lg-5 col-hd-3">
				<ul class="Partners__items"  data-scroll>
					{% for partner in partners %}
						<li class="Partners__item" style="transition-delay: {{ loop.index * 0.1 }}s;">
							{{ partner.meta( 'link' ).url ? "<a href=\"#{ partner.meta( 'link' ).url }\"#{ partner.meta( 'link' ).target ? ' target="_blank" rel="noopener noreferer"' : '' }>" : '' }}
								{% include 'partials/image.html.twig' with { image: partner.thumbnail } only %}
							{{ partner.meta( 'link' ).url ? '</a>' : '' }}
						</li>
					{% endfor %}
				</ul>
            </div>
        </div>
    </div>

	{% include 'components/modal.html.twig' with { control: 'video-hero', video: post.meta( 'video' ).youtube } %}

{% endblock  %}
