{#
 # Page: front
 #
 # @package Driver404
 #}
{% extends 'index.html.twig' %}

{% block hero %}
    <div class="Hero" data-scroll-section>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div id="rider-404" class="Rider-404 page-block" data-node-type="LottieBlock" data-lottie-json="rider-404" data-lottie-autoplay="true"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div id="arrow" class="Hero__arrow d-none d-md-block page-block" data-scroll data-scroll-repeat data-scroll-call="arrow" data-node-type="ArrowBlock" data-lottie-json="arrow"></div>
                <div class="Video">
                    <div class="Video__overlay">
                        <button type="button">
                            {% include 'svg/use.html.twig' with { icon: 'play' } only %}
                        </button>
                    </div>
                    <video autoplay loop preload="auto" muted>
                        <source src="{{ post.meta( 'video' ).url }}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="Section About" data-scroll-section>
        <ul class="About__stars">
            <li class="page-block" data-node-type="">{% include 'svg/use.html.twig' with { icon: 'star' } only %}</li>
            <li class="page-block" data-node-type="">{% include 'svg/use.html.twig' with { icon: 'star' } only %}</li>
            <li class="page-block" data-node-type="">{% include 'svg/use.html.twig' with { icon: 'star' } only %}</li>
        </ul>
        <div class="row">
            <div class="col-10 offset-1 col-md-6 offset-md-3">
                <div class="About__content">
                    {% include 'partials/split-text.html.twig' with { id: fn( 'uniqid' ), title: post.meta( 'about' ).content } %}
                    <img src="{{ theme.link }}/{{ theme.manifest['img/svg/about.svg'] }}" width="719" height="585">
                </div>
            </div>
            <div class="col-10 offset-1 text-align-center">
                <h2 class="About__title">
                    {%- include 'partials/split-text.html.twig' with { id: fn( 'uniqid' ), title: post.meta( 'about' ).title } -%}
                </h2>
                <a class="About__link d-inline-block" href="{{ post.meta( 'about' ).link.url }}">
                    {% include 'partials/split-text.html.twig' with { id: fn( 'uniqid' ), title: post.meta( 'about' ).link.title | default( __( 'About', 'rider404' ) ) } %}
                </a>
            </div>
        </div>
    </div>

    <div class="Section position-relative" data-scroll-section>
        <img class="Partners__decor d-none d-md-block" src="{{ theme.link }}/{{ theme.manifest['img/svg/partners.svg'] }}" alt="" height="134" width="76">
        <div class="row">
            <div class="col-10 offset-1 col-md-3 offset-md-6">
                <h2>
                    {% include 'partials/split-text.html.twig' with { title: __( 'Partners &\nCollaboraters', 'rider404' ) | nl2br, id: fn( 'uniqid' ) } %}
                </h2>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-6">
                <div class="Partners" data-scroll>
                    <ul class="Partners__items">
                        {% for partner in partners %}
                            <li class="Partners__item" style="transition-delay: {{ loop.index * 0.1 }}s;">
                                {{ partner.meta( 'link' ).url ? "<a href=\"#{ partner.meta( 'link' ).url }\"#{ partner.meta( 'link' ).target ? ' target="_blank" rel="noopener noreferer"' : '' }>" : '' }}
                                    {% include 'partials/image.html.twig' with { image: partner.thumbnail } only %}
                                {{ partner.meta( 'link' ).url ? '</a>' : '' }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}
