{#
 # Page: front
 #
 # @package Driver404
 #}
{% extends 'index.html.twig' %}

{% block hero %}
    <div class="Hero" data-scroll-section>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                {% include 'svg/rider-404.svg.twig' with { classes: [ 'Logo' ] } %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                {% include 'svg/use.html.twig' with { icon: 'arrow-down', classes: [ 'Hero__arrow', 'd-none', 'd-md-block' ] } only %}
                <div class="Video">
                    <div class="Video__overlay">
                        <button type="button">
                            {% include 'svg/use.html.twig' with { icon: 'play' } only %}
                        </button>
                    </div>
                    <video autoplay loop preload="auto" muted>
                        <source src="{{ post.meta( 'video' ).url }}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="Section About" data-scroll-section>
        <div class="row">
            <div class="col-10 offset-1 col-md-6 offset-md-3">
                <div class="About__content">
                    <div id="split-text-{{ fn( 'uniqid' ) }}" class="Split-text page-block" data-scroll data-node-type="SplitTextBlock">{{- post.meta( 'about' ).content -}}</div>
                    <img src="{{ theme.link }}/{{ theme.manifest['img/svg/about.svg'] }}" width="719" height="585">
                </div>
            </div>
            <div class="col-10 offset-1">
                <h2 class="h1 text-align-center">{{ post.meta( 'about' ).title }}</h2>
                <a class="About__link" href="{{ post.meta( 'about' ).link.url }}">{{- post.meta( 'about' ).link.title -}}</a>
            </div>
        </div>
    </div>

    <div class="Section position-relative" data-scroll-section>
        <img class="Partners__decor d-none d-md-block" src="{{ theme.link }}/{{ theme.manifest['img/svg/partners.svg'] }}" alt="" height="134" width="76">
        <div class="row">
            <div class="col-10 offset-1 col-md-3 offset-md-6">
                <h2>
                    {{- __( 'Partners &\nCollaboraters', 'rider404' ) | nl2br -}}
                </h2>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-6">
                <div class="Partners">
                    <ul class="Partners__items">
                        {% for partner in partners %}
                            <li class="Partners__item">
                                {{ partner.meta( 'link' ).url ? "<a href=\"#{ partner.meta( 'link' ).url }\"#{ partner.meta( 'link' ).target ? ' target="_blank" rel="noopener noreferer"' : '' }>" : '' }}
                                {% include 'partials/image.html.twig' with { image: partner.thumbnail } only %}
                                {{ partner.meta( 'link' ).url ? '</a>' : '' }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}
