{#
 # Form coupon
 #
 # @package Rider404
 #}

{% if coupons_enabled %}
	<div id="checkout-coupons" class="page-block" data-node-type="CheckoutCouponsBlock">
		<div class="woocommerce-form-coupon-toggle">
			{{- function( 'wc_print_notice', function( 'apply_filters', 'woocommerce_checkout_coupon_message', __( 'Have a coupon?', 'rider404' ) | e( 'esc_html' ) ~ ' <button type="button" class="showcoupon">' ~ __( 'Click here to enter your code', 'rider404' ) | e( 'esc_html' ) ~ '</button>' ), 'notice' ) -}}
		</div>

		<form class="checkout_coupon woocommerce-form-coupon" method="post" style="display:none">

			<p>{{- __( 'If you have a coupon code, please apply it below.', 'rider404' ) | e( 'esc_html' ) -}}</p>

			<p class="form-row form-row-first">
				<input
					id="coupon_code"
					type="text"
					name="coupon_code"
					class="input-text"
					placeholder="{{- __( 'Coupon code', 'rider404' ) | e -}}"
					value=""
				/>
			</p>

			<p class="form-row form-row-last">
				<button type="submit" class="button" name="apply_coupon" value="{{- __( 'Apply coupon', 'rider404' ) | e -}}">
					{{- __( 'Apply coupon', 'rider404' ) | e( 'esc_html' ) -}}
				</button>
			</p>

			<div class="clear"></div>
		</form>
	</div>
{% endif %}
