{#
 # Form coupon
 #
 # @package Rider404
 #}

{% if coupons_enabled %}
	<div id="form-coupon" class="page-block" data-node-type="FormCouponBlock">
		<div class="woocommerce-form-coupon-toggle">
			{{- fn( 'wc_print_notice', fn( 'apply_filters', 'woocommerce_checkout_coupon_message', __( 'Have a coupon?', 'rider404' ) ~ ' <a href="#" class="showcoupon">' ~ __( 'Click here to enter your code', 'woocommerce' ) ~ '</a>' ), 'notice' ) -}}
		</div>

		<form class="checkout_coupon woocommerce-form-coupon" method="post" style="display:none">

			<p>{{- __( 'If you have a coupon code, please apply it below.', 'rider404' ) -}}</p>

			<p class="form-row form-row-first">
				<input type="text" name="coupon_code" class="input-text" placeholder="{{- __( 'Coupon code', 'rider404' ) -}}" id="coupon_code" value="" />
			</p>

			<p class="form-row form-row-last">
				<button type="submit" class="button" name="apply_coupon" value="{{- __( 'Apply coupon', 'rider404' ) -}}">{{- __( 'Apply coupon', 'rider404' ) -}}</button>
			</p>

			<div class="clear"></div>
		</form>
	</div>
{% endif %}
