{#
 # Form shipping
 #
 # @package Rider404
 #}
<div id="shipping" class="Shipping-fields woocommerce-shipping-fields page-block" data-node-type="ShippingBlock">
	{% if cart.needs_shipping_address() %}

		<h3 class="Shipping-fields__title" id="ship-to-different-address">

			<div
				id="checkbox-ship-to-different-address"
				class="Checkbox page-block{{ 'shipping' is same as( ship_to_destination | apply_filters( 'woocommerce_ship_to_different_address_checked' ) ) ? ' is-selected' : '' }}"
				role="checkbox"
				aria-checked="{{ 'shipping' is same as( ship_to_destination | apply_filters( 'woocommerce_ship_to_different_address_checked' ) ) ? 'true' : 'false' }}"
				data-node-type="CheckboxBlock"
				tabindex="0"
			>
				<button type="button" tabindex="-1"></button>
				{{- __( 'Ship to a different address?', 'rider404' ) | e( 'esc_html' ) -}}
				<div style="display: none;">
					<input
						id="ship-to-different-address-checkbox"
						name="ship_to_different_address"
						value="1"
						type="checkbox"
						{{ function( 'checked', 'shipping' is same as( ship_to_destination | apply_filters( 'woocommerce_ship_to_different_address_checked' ) ) ? 1 : 0, false ) }}
					/>
				</div>
			</div>

		</h3>

		<div class="shipping_address">

			{% do action( 'woocommerce_before_checkout_shipping_form', checkout ) %}

			<div class="woocommerce-shipping-fields__field-wrapper">
				{% for key, field in checkout.get_checkout_fields( 'shipping' ) %}
					{{- function( 'woocommerce_form_field', key, field, checkout.get_value( key ) ) -}}
				{% endfor %}
			</div>

			{% do action( 'woocommerce_after_checkout_shipping_form', checkout ) %}

		</div>

	{% endif %}
</div>

<div class="woocommerce-additional-fields">
	{% do action( 'woocommerce_before_order_notes', checkout ) %}

	{% if 'yes' is same as( enable_order_comments | apply_filters( 'woocommerce_enable_order_notes_field' ) ) %}

		{% if not cart.needs_shipping() or ship_to_billing_address_only %}
			<h3>{{- __( 'Additional information', 'rider404' ) | e( 'esc_html' ) -}}</h3>
		{% endif %}

		<div class="woocommerce-additional-fields__field-wrapper">
			{% for key, field in checkout.get_checkout_fields( 'order' ) %}
				{{- function( 'woocommerce_form_field', key, field, checkout.get_value( key ) ) -}}
			{% endfor %}
		</div>

	{% endif %}

	{% do action( 'woocommerce_after_order_notes', checkout ) %}
</div>
