{#
 # Payment
 #
 # @package WordPress
 # @subpackage Rider404
 #}
{% if not is_ajax %}
	{% do action( 'woocommerce_review_order_before_payment' ) %}
{% endif %}

<div id="payment" class="Checkout-payment woocommerce-checkout-payment">

	{% if cart.needs_payment() %}
		<ul class="Checkout-payment__methods wc_payment_methods payment_methods methods">
			{% if available_gateways is not empty %}
				{% for gateway in available_gateways %}
					{{- function( 'wc_get_template', 'checkout/payment-method.php',  { 'gateway': gateway } ) -}}
				{% endfor %}
			{% else %}
				<li class="Notice Info Notice--info woocommerce-notice woocommerce-notice--info woocommerce-info">
					{% include 'svg/use.html.twig' with { icon: 'face-with-mouth' } only %}
					{% filter apply_filters( 'woocommerce_no_available_payment_methods_message' ) %}
						{% if customer.get_billing_country() %}
							{{- __( 'Sorry, it seems that there are no available payment methods for your state. Please contact us if you require assistance or wish to make alternate arrangements.', 'rider404' ) | e( 'esc_html' ) -}}
						{% else %}
							{{- __( 'Please fill in your details above to see available payment methods.', 'rider404' ) | e( 'esc_html' ) -}}
						{% endif %}
					{% endfilter %}
				</li>
			{% endif %}
		</ul>
	{% endif %}

	<div class="Form-row Place-order form-row place-order">
		<noscript>
			{# translators: $1 and $2 opening and closing emphasis tags respectively #}
			{{- function( 'printf', __( 'Since your browser does not support JavaScript, or it is disabled, please ensure you click the %1$sUpdate Totals%2$s button before placing your order. You may be charged more than the amount stated above if you fail to do so.', 'rider404' ), '<em>', '</em>' ) -}}
			<br/>
			<button type="submit" class="Button button alt" name="woocommerce_checkout_update_totals" value="{{ __( 'Update totals', 'rider404' ) | e }}">
				{{- __( 'Update totals', 'rider404' ) | e( 'esc_html' ) -}}
			</button>
		</noscript>

		{{- function( 'wc_get_template', 'checkout/terms.php' ) -}}

		{% do action( 'woocommerce_review_order_before_submit' ) %}

		{% filter apply_filters( 'woocommerce_order_button_html' ) %}
			<button type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="{{ order_button_text | e }}" data-value="{{ order_button_text | e }}">
				{{- order_button_text | e( 'esc_html' ) -}}
			</button>
		{% endfilter %}

		{% do action( 'woocommerce_review_order_after_submit' ) %}

		{{- nonce_field -}}
	</div>


</div>

{% if not is_ajax %}
	{% do action( 'woocommerce_review_order_after_payment' ) %}
{% endif %}
